    <h1>Home</h1>
<ul>
    {% for post in posts %}
        <li>
            {{ post.content }} - {{ post.author }} - {{ post.likes.count }}
            {% if request.user == post.author %}
            <a href="{% url 'post_update' post.pk %}">Modify</a>
            <a href="{% url 'post_delete' post.pk %}">Delete</a>
            {% endif %}
            <form method="post" action="{% url 'post_like' pk=post.id %}">
                {% csrf_token %}
                <button type="submit">
                    {% if user in post.likes.all %}
                        Unlike
                    {% else %}
                        Like
                    {% endif %}
                </button>
            </form>
        </li>

    {% endfor %}
</ul>
<a href="{% url 'post_create' %}">create</a>