{% for comment in comments %}
    {% if comment.related_post_id == selected_post.pk %}
        {% if comment.image_comment %}
            <img src="{{ comment.image_comment.url }}" alt="" width="100px">
        {% endif %}
        <br>
        {{comment.author }} : {{ comment.content }} <br> {{ comment.upload_date }} <br> Likes : {{ comment.likes.count }}

        <form method="post" action="{% url 'comment_like' pk=comment.id %}">
                {% csrf_token %}
                <button type="submit">
                    {% if user in comment.likes.all %}
                        Unlike
                    {% else %}
                        Like
                    {% endif %}
                </button>
        </form>
    {% if request.user == comment.author %}
    <a href="{% url 'comment_update' comment.pk %}">Modify</a>
    <a href="{% url 'comment_delete' comment.pk %}">Delete</a>
    {% endif %}
        <hr>
        {% endif %}
{% endfor %}
