.comment_page_post_component {
    width: 80%
}
.comment_content_div {
    border-bottom:1px solid #393E41;
    padding : 32px 30px 32px 0px;
}
.form_comment {
    display:inline-grid;
}
.view_post_post_content p {
    text-align:left;
}
.view_post_post_description {
    margin-left:16px;
}

.form_comment {
    width:100%;
    display:flex;
}
.comment_span {
    color:white
}
.send_button {
    background-color: #3E78B2
}
.comment_textarea {
    width: 60%;
    border-radius: 100px;
    height: 30px;
}