<ul>
    {% for user in CustomUser %}
        {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" alt=" " width="100px">
        {% endif %}
        <p>{{user.username}}</p>
    {% if request.user != user %}
        <form method="post" action="{% url 'customuser_follows' pk=user.pk %}">
            {% csrf_token %}
            <button type="submit">

                {% if request.user in user.user_follows.all %}
                    Unfollow
                {% else %}
                    Follow
                {% endif %}
            </button>
        </form>

        <form method="post" action="{% url 'user_chatting' pk=user.pk %}">
            {% csrf_token %}
            <button type="submit">
                Chat
            </button>
        </form>

    {% endif %}
    {% endfor %}
</ul>