<ul>
    {% for user in CustomUser %}
        <p>{{user.username}}</p>
    {% if request.user != user %}
        <form method="post" action="{% url 'customuser_follows' pk=user.pk %}">
            {% csrf_token %}
            <button type="submit">

                {% if request.user in user.user_follows.all %}
                    Unfollow
                {% else %}
                    Follow
                {% endif %}
            </button>
        </form>
    {% endif %}
    {% endfor %}
</ul>