@import "tailwindcss";


body {
    background-color: #0d1118;
    color: white
}
textarea, input {
    background-color: black;
    color: white;
}

.button_register_login {
    background-color: #1078e0;
}

.button_register_login:hover {
    background-color: #0f5fb0;
}


.link_register, .title_graphconnect {
    color: #1078e0;
}
.logo_graphconnect {
    width: 25%;
    height: 25%;
}

.comment_button_div {
    display:flex;
    align-items:center;
}
.comment-textarea {
    height:40px;
}
.comment_page_post_component {
    justify-self:center;
}

 
